      <div class="jumbotron">
        <h5>一字千金 模擬測試寫入頁面</h5>
      </div>
      <div style="float:left;">
        <div style="height:30px;padding:5px 0;">
          <button id="clearBtn" style="font-size:15px;">Clear</button>
          <button id="prevBtn" style="font-size:15px;">Prev</button>
          <button id="submitBtn" style="font-size:15px;">Submit</button>
          <input id="row" type="number" value="1" />
          <input id="column" type="number" value="1" />
          
          <button id="moveBlock" style="font-size:15px;">指定格子</button>
          <button id="endRound" style="font-size:15px;">結束回合</button>

          <input id="showText" type="text" value="" style="width:50px;" />
          <button id="showTextButton">出題</button>
        </div>
        <canvas id="origin_<%= @user_id %>" class="orgincanvas"></canvas>
      </div>
      <canvas id="multiple" class="orgincanvas hidden"></canvas>

      <% content_for :javascripts do %>
      <%= javascript_include_tag 'writes_idioms' %>
      <script>
      $(document).ready(function() {
        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 15,
          lineColor: '#333333',
          targetZoomScale: 1,
          backgroundImage: '/assets/block-524.png'
        });

        CM.reg('origin_<%= @user_id %>');
        ocan = document.getElementById('origin_<%= @user_id %>');

        window.chatApp = null;
        $('#moveBlock').click(function(){
          if(!window.chatApp){
            window.chatApp = new ChatApp(ocan.offsetLeft,ocan.offsetTop,'<%= @user_id %>',{row: $('#row').val(), column:$('#column').val()});
            window.chatApp.triggerEvents();
            window.chatApp.bindEvents();
          }
          window.chatApp.moveBlock({row: $('#row').val(), column:$('#column').val()});
        });

        $('#endRound').click(function(){
          window.chatApp.endRound();
        });

        $('#showTextButton').click(function(){
          if(!window.chatApp){
            window.chatApp = new ChatApp(ocan.offsetLeft,ocan.offsetTop,'<%= @user_id %>',{row: $('#row').val(), column:$('#column').val()});
            window.chatApp.triggerEvents();
            window.chatApp.bindEvents();
          }
          var testCan = ocan;
          var w = $(testCan).width();
          var context = testCan.getContext("2d");
          context.fillStyle = "purple";
          context.font = "bold " + (w * 13 / 15) + "px 標楷體";
          context.fillText($('#showText').val(), w / 15, w * 12 / 15);

          window.chatApp.sendText($('#showText').val());


        });
      });

      var receiveActionHandler = function(data){
        var name = data.action;
        if (name == "start"){
          window.chatApp.dispatcher.trigger('action',{
            user_id: data.user_id,
            action: "device_start",
            stamp: (new Date()).getTime()
          }); 
        }
        else if (name == "stop"){
          window.chatApp.dispatcher.trigger('action',{
            user_id: data.user_id,
            action: "device_stop",
            stamp: (new Date()).getTime()
          }); 
        }
        alert(name);
      };

      </script>
      <% end %>