      <div class="jumbotron">
        <% if !@second.nil?  %>
        <h5 style="position:fixed;">倒數計時 <span id="second" style="color:red"><%= @second %></span> 秒 </h5>
        <% else %>
        <h5>不倒數計時</h5>
        <% end %>
      </div>
      <div id="user_blue"></div>
      <div id="user_black"></div>
        <table id="canvasTable" style="border-collapse:separate;border-spacing:1px 0px;">
          <% (1..8).to_a.each do |x| %>
          <tr>
            <% (1..12).to_a.each do |y| %>
            <td>
              <canvas id="origin_<%= x %>_<%= y %>" style="z-index:1;border:1px solid red"></canvas>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
      <div class="row">
        <% @visitors.each do |x| %>
        <div class="visitor col-md-3" id="visitor_<%= x.number %>">
          <div class="row">
            <div class="col-md-1">
              <input type="checkbox" name="gamer" value="<%= x.number %>"/>
            </div>
            <div class="col-md-3">
              <%= render_gamer_photo(x.image,"thumb",50,50) %>
              <p><%= x.name %></p>
            </div>
            <div id="status_<%= x.number %>" class="col-md-2">stop</div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="checkbox" id="allGamer"/>全選
          <button id="yes_button" style="font-size:15px;">答對</button>
          <button id="no_button" style="font-size:15px;">答錯</button>
          <button id="start_button" style="font-size:15px;">Start</button>
          <button id="stop_button" style="font-size:15px;">Stop</button>
        </div>
      </div>
      
      <% content_for :javascripts do %>
      <%= javascript_include_tag 'server_idioms' %>
      <script>

      window.timeRemaining = parseInt(<%= @second %>);
      window.alarm = null;

      var afterAction = function(property){
        var array = [];
        $('[name="gamer"]').each(function(){
          if (this.checked) {

            array.push(this.value);
            this.checked = false;
          }
        });
        $('#second').text(window.timeRemaining);
        $('#allGamer').attr('checked',false);

        return array;
      }

      var receiveMoveBlockHandler = function(o){
        var element;
        var offset = $('#canvasTable').offset();
        if (o.user_id % 2 == 0){
          element = $('#user_blue').css({
          border:"2px solid blue",
          width:"95px",
          height:"95px",
          position:"absolute",
          top:(o.block.row-1)*101+offset.top + "px", 
          left:(o.block.column-1)*97+offset.left + "px"
        });
        }else{
          element = $('#user_black').css({
          border:"2px solid black",
          width:"95px",
          height:"95px",
          position:"absolute",
          top:(o.block.row-1)*101+offset.top + "px", 
          left:(o.block.column-1)*97+offset.left + "px"
        });
        }

      };

      var receiveSendTextHandler = function(o){
        var testCan = document.getElementById('origin_'+ o.block.row +'_' + o.block.column);
        var w = $(testCan).width();
        var context = testCan.getContext("2d");
        context.fillStyle = "purple";
        context.font = "bold " + (w * 13 / 15) + "px 標楷體";
        context.fillText(o.text, w / 15, w * 12 / 15);
      };

      var receiveEndRoundHandler = function(o){
        clearInterval(window.alarm);
        window.alarm = null;
        window.chatApp.action(o.user_id,'stop');
        afterAction(this);
      };

      $(document).ready(function() {
        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 15,
          lineColor: '#333333',
          targetZoomScale: 0.035
        });
        <% (1..8).to_a.each do |x| %>
        <% (1..12).to_a.each do |y| %>
        CM.reg('origin_<%= x %>_<%= y %>');
        <% end %>
        <% end %>


        window.chatApp = new ChatApp(500,500,'0');
        window.chatApp.bindEvents();



        $('#allGamer').click(function(){
          $('[name="gamer"]').each((function(toCheck){
            return function(){
              if (this.disabled == false){
                this.checked = toCheck;
              }
            };
          })(this.checked === true));
        });

        $('#yes_button').click(function(){
          var array = afterAction(this);
          for (var x in array){
            var yesImg = $('#yes_' + array[x]);
            yesImg.show();

            setTimeout(( function(item){
              var f = function(){
                item.hide();
              };
              return f
            })(yesImg), 3000);
          }
          //alert("answer right:"+array);
        });

        $('#no_button').click(function(){
          var array = afterAction(this);
          for (var x in array){
            var noImg = $('#no_' + array[x]);
            noImg.show();

            setTimeout((function(item){
              var f = function(){
                item.hide();
              };
              return f
            })(noImg), 3000);
          }
          //alert("answer wrong:"+array);
        });


        $('#start_button').click(function(){
          if(window.alarm) return;
          $('[name="gamer"]').each(function(){
            if (this.checked) {
              window.chatApp.action(this.value,'start');
              $('#visitor_'+this.value).css("background-color", "");
              $('#status_'+this.value).html('** DRAWING **');
            }
          });
          window.alarm = setInterval(function(){
            if (parseInt($('#second').text()) != 0){
              $('#second').text(parseInt($('#second').text()) - 1);
            }else{
              clearInterval(window.alarm);
              window.alarm = null;
              $('[name="gamer"]').each(function(){
                if (this.checked) {
                  window.chatApp.action(this.value,'stop');
                }
              });
              var array = afterAction(this);
              for(var i = 0, len = array.length; i < len; i++){
                $('#status_'+array[i]).html('stop');
              }
              //alert("stop:"+array);
            }
          },1000);
          //var array = afterAction(this);
          //alert("start:"+array);
        });

        // $('#stop_button').click(function(){
        //   $('[name="gamer"]').each(function(){
        //     if (this.checked) {
        //       window.chatApp.action(this.value,'stop');
        //     }
        //   });
        //   var array = afterAction(this);
        //   alert("stop:"+array);
        // });

    });
      </script>
      <% end %>