<div class="row">
  <div class="col-md-12">
    <%= link_to "回上一頁",'/',class: "btn btn-lg btn-warning"  %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Game N</h1>
    <h2>參賽人員列表<%= link_to "新增人員",new_game_visitor_path(@game),class: "btn btn-lg btn-info"  %></h2>
    <% if @visitors.present? %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>代號</th>
          <th>照片</th>
          <th>名字</th>
          <th>加入比賽</th>  
        </tr>
      </thead>
      <tbody>

        <% @visitors.each do |v| %>
        <tr>
          <td><%= v.number %></td>
          <td><%= render_visitor_photo(v.image,"thumb") %></td>
          <td><%= v.name %></td>
          <td><input type="checkbox" name="joinGame" value="<%= v.number %>" /></td>
        </tr>
        <% end %>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><input type="checkbox" id="allJoinGame" />全選</td>
        </tr>
      </tbody>
    </table>
    <% else %>
    尚無參賽人員
    <% end %>
    <br>
    <%= link_to "Stage1","#",id: "stage1",class: "btn btn-lg btn-success"  %>
    <%= link_to "Stage2","#",id: "stage2",class: "btn btn-lg btn-success"  %>
    <%= link_to "Stage3","#",id: "stage3",class: "btn btn-lg btn-success"  %>
  </div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
$(document).ready(function(){

  document.getElementById('allJoinGame').onchange = function(event){
    var checkboxes = document.getElementsByName('joinGame');

    for (var i = 0; i < checkboxes.length; i++){
      checkboxes[i].checked = this.checked;
    }
  };

  document.getElementById('stage1').onclick = function(e){
    e.preventDefault();
    var checkboxes = document.getElementsByName('joinGame');

    var join_visitors_number = [];
    for (var i = 0; i < checkboxes.length; i++){
      if(checkboxes[i].checked){
        join_visitors_number.push(checkboxes[i].value);
      }
    }
    location.href = '/games/<%= @game.id %>/stage1?join_visitors_number=' + join_visitors_number;
  }

  document.getElementById('stage2').onclick = function(e){
    e.preventDefault();
    var checkboxes = document.getElementsByName('joinGame');

    var join_visitors_number = [];
    for (var i = 0; i < checkboxes.length; i++){
      if(checkboxes[i].checked){
        join_visitors_number.push(checkboxes[i].value);
      }
    }
    location.href = '/games/<%= @game.id %>/stage2?join_visitors_number=' + join_visitors_number;
  }

  document.getElementById('stage3').onclick = function(e){
    e.preventDefault();
    var checkboxes = document.getElementsByName('joinGame');

    var join_visitors_number = [];
    for (var i = 0; i < checkboxes.length; i++){
      if(checkboxes[i].checked){
        join_visitors_number.push(checkboxes[i].value);
      }
    }
    location.href = '/games/<%= @game.id %>/stage_idioms?join_visitors_number=' + join_visitors_number;
  }
});
</script>
<% end %>
