<div class="row">
  <div class="col-md-12">
    <%= link_to "回上一頁",game_path(@game),class: "btn btn-lg btn-warning"  %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Game <%= @game.id %> > Stage 2</h1>
    <h2>規則</h2>
    <h2>1.顯示秒數在使用者畫面上</h2>
    <h2>2.限時 <input id="second" type="number"/> 秒</h2>
    <%= link_to "確認","#",id: "confirm", class: "btn btn-lg btn-success"  %>
  </div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
$(document).ready(function(){

  document.getElementById('confirm').onclick = function(e){
    e.preventDefault();
    var second = document.getElementById('second');
    location.href = '/games/<%= @game.id %>/server2?join_visitors_number=<%= @join_visitors_number %>&second='+second.value;
  }
});
</script>
<% end %>