<% content_for :stylesheets do %>
<style type="text/css">

body {
  background-color: #000000
}

h4 {
  color: #ffffff
}

.border_radius{
  border: 2px solid #D6D6D6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.block{
  padding-top:10px;
  background-color: #339933;
  opacity: 0.9;
  /*
  border: 2px solid;
  border-color:white;
  */
  margin:10px;
}

</style>
<% end %>
        <div class="row">
          <% @visitors.each do |x| %>
          <div class="visitor col-md-2 block" id="visitor_<%= x.number %>">
              <%= render_gamer_photo(x.image,"medium",158,158,"border_radius") %>
              <h4 style="padding-left:55px">挑戰者</h4>
              <h4 style="padding-left:60px"><%= x.name %></h4>
              <canvas id="origin_<%= x.number %>" class="orgincanvas" style="z-index:1"></canvas>
              <img id="yes_<%= x.number %>" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
              <img id="no_<%= x.number %>" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>

          </div>
          <% end %>
        </div>
      <canvas id="multiple" class="orgincanvas hidden"></canvas>

      <% content_for :javascripts do %>
      <%= javascript_include_tag 'server' %>
      <script>

      var receiveSubmitHandler = function(o){
        $('#visitor_'+o.user_id).css("background-color", "#f0f0f0");
      };
      window.timeRemaining = parseInt(<%= @second %>);
      window.alarm = null;

      $(document).ready(function() {
        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 15,
          lineColor: '#333333',
          targetZoomScale: 0.1,
          backgroundImage: '/assets/block-524.png'
        });
        <% @visitors.each do |visitor| %>
        CM.reg('origin_<%= visitor.number %>');
        <% end %>

        window.chatApp = new ChatApp(500,500,'0');
        window.chatApp.bindEvents();


      });
      </script>
      <% end %>