<!DOCTYPE html>
<html>
<head>
  <title>Font20140714</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render_body_tag %>
<%= render :partial => "common/menu" %>
<div class="container">
  <%= notice_message %>

  <%= yield %>
</div>
<%= yield :javascripts %>
</body>
</html>
